ul{
	padding: 0;
	margin: 0;
}

/* styles  */
nav.gs-navigation {
    background-color: #3fb871;
}

.main-menu {
    font-size: 1.3rem;
    font-family: sans-serif;
}

#mm-btn-open,
#mm-btn-close,
.cart-btn--mobile {
    padding-left: 10px;
    display: none;
}

/* anchor styles */
.main-menu > ul li:first-child a {
    padding-left: 0;
}

.main-menu li:first-child i {
    font-size: 2.0rem;
    color: #fff;
}

.main-menu a {
    font-size: 1.3rem;
    color: #fff;
    text-decoration: none;
    background-color: #3fb871;
    padding: 13px 20px;
    text-transform: uppercase;
}

.main-menu a:hover {
    color: white;
    background-color: #36a66d;
    cursor: pointer;
}

.main-menu__bar-icon a {
    padding-right: 40px;
    padding-left: 0;
}

.main-menu li:first-child a:hover {
    background-color: #3fb871;
}

.main-menu ul {
    display: flex;
    flex-direction: column; /* by default UL stack subitems */
    color: black;
}

.main-menu ul li {
    list-style-type: none;
    /* flex: 1 1 auto; */
    display: flex;
    text-align: center;
    position: relative;
}

/* overriding stack behavior only for top level items*/
.main-menu #mm-toggle > ul {
    flex-direction: row;
    justify-content: start;
}

/* show/hide subitems */
.main-menu li > ul {
    display: none;
    position: absolute;
}

/* all sub items shall appear left side */
.main-menu li:hover > ul {
    display: flex;
    z-index: 9999;
    width: 100%;
    top: 0%;
    left:100%;
}

/* override, first level sub itens(has-sub) shall appear bottom */
.main-menu li.has-sub > ul{
    left:0%;
    top: 100%;
}

.main-menu .has-sub > a,
.main-menu .has-inner-sub a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* setting up arrows  */
.main-menu .has-sub > a::after {
    content: '';
    flex: 0 1 auto;
    margin: 0 5px;
    /* css shapes */
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
}

/* setting up arrows  */
.main-menu .has-inner-sub > a::after {
    content: '';
    flex: 0 1 auto;
    margin: 0 5px;
    /* css shapes */
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 8px solid #fff;
    border-bottom: 5px solid transparent;
}

/* main menu end */
a.cart-btn--mobile {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding: 7px 10px 0 0;
}
/* media query for small devices */

@media (max-width: 768px) {
    
    /* 	main navigation */
    .main-menu {
	    position: relative;
	    width: 100%;
	    top: 0;
	    left: 0;
	    margin: 0;
	    z-index: 9999;
	    padding: 0;
	}
    
    .main-menu ul {
        background-color: #3fb871;
        color: black;
        position: static;
    }

    .main-menu ul li {
        list-style-type: none;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .main-menu ul a {
        border-bottom: solid 1px #ffffff30;
    }
    
	/*#mm-btn-close {
		border-bottom: 0;
	}*/

    #mm-toggle ul {
        flex-direction: column;
        display: none;
    }
    
    #mm-toggle:not(:target) #mm-btn-open,
    #mm-toggle:not(:target) .cart-btn--mobile {
        display: block;
    }
    
    #mm-toggle:not(:target) #mm-btn-close {
        display: none;
    }
    
    #mm-toggle:target > ul {
	    display: block;
	    position: absolute;
	    width: 106.7%;
	}
    
    #mm-toggle:target #mm-btn-open,
    #mm-toggle:target .cart-btn--mobile {
        display: none;
    }
    
    #mm-toggle:target #mm-btn-close {
        display: block;
    }
    
    /* style for show/hide subitems */
    #mm-toggle li > ul {
        display: none;
        position: static;
        background-color: gray;
    }
    
    #mm-toggle li > ul.show {
        display: flex;
        height: auto;
    }

    .main-menu li:first-child a {
        text-align: left;
        padding: 5px;
    }

    #mm-btn-open i {
        font-size: 2rem;
    }

}