@media (max-width: 1024px) {
    .news-item .product-item__info {
        padding: 5px 0;
    }

    .gs-sidebar__blog-tag {
        padding: 6px;
        margin: 3px;
    }

    .gs-news-comment__form input[type="text"], 
    .gs-news-comment__form input[type="email"], 
    .gs-news-comment__form input[type="tel"] {
        width: 29%;
    }

    .tab-pane .gs-news-comment__form input[type="text"], 
    .tab-pane .gs-news-comment__form input[type="email"], 
    .tab-pane .gs-news-comment__form input[type="tel"] {
        width: 30%;
    }
    .gs-slider-nav .slick-slide {
        margin: 4.5px;
    }
}

@media (max-width: 768px) {

    :root {
        font-size: 9px;
    }

    .gs-sliders__content img {
        display: none;
    }

    .gs-cart-product-wrap {
        margin-top: 2.5rem;
    }

    .gs-subscribe__form input {
        width: 80%;
    }
    .gs-subscribe__form__btn {
        width: 20%;
        padding: 11px;
    }

    .gs-news-wrap .gs-breadcrumb {
        margin-bottom: 0px;
    }

    .product-item--custom {
        padding: 0px;
        border: none;
    }

    .product-item__info {
        padding: 18px 0;
    }

    .gs-sidebar__blog-tag {
        padding: 3px;
        font-size: 1.1rem;
    }

    .gs-news-comment__form input[type="text"], .gs-news-comment__form input[type="email"], .gs-news-comment__form input[type="tel"] {
        width: 28%;
    }

    .gs-news-comment__form input[type="email"] {
        margin: 0 25px;
    }

    .gs-slider-nav .slick-slide {
        margin: 3px;
    }
}

@media (max-width: 414px) {

    :root {
        font-size: 10px;
    }
    
    .gs-header__top,
    .gs-sliders__content,
    .gs-field__product-slides .product-item__status,
    ._gs-field__product-slides .product-item__status,
    .gs-field__product-slides .product-item-group .product-item:last-child,
    ._gs-field__product-slides .product-item-group .product-item:last-child,
    .gs-news--home {
        display: none;
    }

    .logo {
        display: block;
        text-align: center;
    }
    
    .product-item--custom {
        padding: 20px 20px 40px;
    }
    
    .gs-subscribe {
        padding-top: 20px;
        padding-left: 0px;
    }

    .gs-subscribe__title {
        display: block;
    }
    
    .gs-subscribe__form {
        width: 100%;
    }

    .footer-col-wrap {
        display: block;
    }

    .gs-cart-payment {
        float: none;
        width: 100%;
    }

    .gs-subscribe__title br {
        display: none;
    }

    .gs-contact .col-md-6 .footer-contact {
        padding: 3.8rem 0 0;
    }

    .gs-contact {
        padding-bottom: 2rem;
    }

    .gs-map {
        padding: 0.7rem 0 0rem;
    }

    .gs-login__form .gs-register__title {
        margin: 1.5rem 0 0.5rem;
    }

    .gs-footer__title {
        color: #3FB872;
    }

    .product-list__paginations {
        margin: 2rem 0 4rem;
    }

    .gs-subscribe__form__btn {
        padding: 9px;
    }

    .product-list__paginations {
        float: none;
    }

    .product-list__paginations li {
        padding: 5px 9px;
    }

    .gs-news-comment__form input[type="text"], .gs-news-comment__form input[type="email"], .gs-news-comment__form input[type="tel"] {
        width: 100%;
    }

    .gs-news-comment__form input[type="email"] {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
    }

    input.gs-form__btn {
        width: 100%;
    }

    .gs-sidebar__blog-tag {
        padding: 8px 10px;
        font-size: 1.3rem;
    }

    .decrease-quantity, .increase-quantity {
        padding: 18px 12px 14px;
    }

    .product-detail-nav-item {
        width: 33%;
    }

    .tab-pane .gs-news-comment__form input[type="text"], 
    .tab-pane .gs-news-comment__form input[type="email"], 
    .tab-pane .gs-news-comment__form input[type="tel"] {
        width: 100%;
    }
}