@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

:root {
    font-size: 10px;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    outline: none;
}

a:hover {
    text-decoration: none;
    outline: none;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}

img {
    border-style: none;
    max-width: 100%;
}

input {
    outline: none;
}

.social-media, .time-opening, .authentication, 
.footer-col__item,
.footer-shortcuts, .footer-payment-cards,
.gs-breadcrumb,
.gs-sidebar__list, .view-options__layouts,
.product-list__paginations,
.product-info__quantity,
.gs-news-comment__list, .gs-news-comment__response,
.product-colors {
    list-style: none;
    display: inline-block;
    margin: 0;
}

.authentication {
    text-align: right;
    display: block;
}

.authentication li {
    padding: 8px;
}

.authentication__login, .authentication__signin {
    color: #898989;
    font-size: 1.2rem;
}

.authentication__login i {
    margin: 0 8px;
}

.product-item__info {
    padding: 30px 0;
}

.product-item__rating {
    list-style: none;
    margin: 7px 0;
}

.time-opening {
    display: inline-block;
}

.time-opening span {
    font-size: 1.2rem;
    letter-spacing: 0.4px;
}

.social-media li, 
.product-item__rating li,
.authentication li,
.footer-shortcuts li,
.footer-payment-cards li,
.gs-breadcrumb li ,
.view-options__layouts li,
.product-list__paginations li,
.product-info__quantity li {
    display: inline-block;
}

.social-media li {
    border: solid #2b2b2b;
    border-top: 0;
    border-bottom: 0;
    padding: 7px 9px;
    margin: 0;
    border-left: 1px;
}

.social-media li a {
    color: #898989;
}

.gs-header__main {
    background: url('./../images/bg-header-plus-tree.jpg');
    background-position: center;
    padding: 20px 0;
}

.logo {
    display: inline-block
}

.hotline {
    color: #7d7d7d;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin: 11px 42px;
    line-height: 20px;
}

.hotline i {
    transform: rotate(90deg);
    font-size: 1.2rem;
}

form.search {
    display: inline-block;
    background-color: #fff;
    border-radius: 30px;
    position: relative;
    line-height: 27px;
    padding: 8px 28px;
    width: calc(100% - 135px);
    margin: 0 13px;
}

.search ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c2c2c2;
    opacity: 1;
    font-size: 1.4rem;
}

.search :-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #c2c2c2;
    opacity: 1;
    font-size: 1.4rem;
}

.search ::-ms-input-placeholder { /* Microsoft Edge */
    color: #c2c2c2;
    opacity: 1;
    font-size: 1.4rem;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: transparent;
}

.search button[type="submit"] {
    position: absolute;
    top: 5px;
    right: 15px;
    background: transparent;
    border: none;
    color: #898989;
    font-size: 1.4rem;
}

a.cart-btn {
    text-align: right;
    color: #202020;
    font-size: 1.5rem;
}

a.cart-btn i {
    font-size: 2.1rem;
}

.gs-header__top {
    background: #202020;
    color: #898989;
    font-size: 1.2rem;
}

.gs-header__menu {
    background: #3fb871;
}

.gs-main {
    padding: 30px;
}

.product-item {
    text-align: center;
    border: 1px solid #e1e1e1;
    margin: 15px 0;
}

.product-item--custom {
    padding: 15px;
    margin: 0;
}

.product-item__visual {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.product-item__visual img{
    width: 100%;
    height: 100%;
}

.product-item__layout-grey {
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    transition: 0.4s;
}

.product-item__status {
    background: #3fb871;
    color: #fff;
    padding: 17px 13px;
    border-radius: 50%;
    position: absolute;
    top: 6%;
    left: 6%;
    z-index: 4;
    text-decoration: none;
    text-align: center;
    transition: 0.4s;
    font-size: 1.6rem;
}

.product-item__btns {
    width: 100%;
    position: absolute;
    top: 47%;
    z-index: 4;
    text-decoration: none;
    color: white;
    text-align: center;
    transform: scale(0);
    transition: 0.4s;
}

.product-item__btns a {
    margin: 0 7px;
}

.product-item__buy-now {
    background: #3fb871;
    outline: none;
    border: 0;
    border-radius: 20px;
    text-transform: uppercase;
    /* padding: 12px 40px; */
    padding: 2% 6%;
    font-size: 1.4rem;
}

.product-item__detail {
    color: #000;
    background: #fff;
    padding: 2.7% 3%;
    border-radius: 50%;
    font-size: 1.3rem;
}

.product-item__visual:hover .product-item__btns{
    transform: scale(1);
}

.product-item__visual:hover .product-item__layout-grey {
    background-color: rgba(0, 0, 0, 0.2);
}

.product-item__title {
    color: #555555;
    font-weight: 400;
    font-size: 17px;
}

.gs-field--col-left .product-item__title {
    font-size: 1.5rem;
}

.product-item__rating li i {
    color: #febf01;
    font-size: 1.2rem;
}

.product-item__price {
    color: #ed1c24;
    font-size: 1.8rem;
    font-family: 'Roboto Slab', serif;
}

.gs-field--col-left .product-item__price {
    font-size: 1.4rem;
}

span.product-item__price del {
    color: #959595;
    font-size: 1.4rem;
}

.gs-field--custom {
    padding: 15px 0;
}

.gs-field__title {
    position: relative;
    line-height: 40px;
    border-bottom: 1px solid #e1e1e1;
    color: #3fb871;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
    font-size: 1.6rem;
    margin: 22px 0 10px;
}

.gs-field__title:after {
    content: '';
    height: 2px;
    background: #3fb871;
    position: absolute;
    width: 11%;
    bottom: -2px;
    left: 0;
    z-index: 25;
}

.gs-field--custom .gs-field__title:after {
    height: 3px;
    width: 155px;
    bottom: -3px;
}

.product-item__visual--custom {
    float: left;
    width: 37%;
    margin-right: 15px;
}

.news-item .product-item__visual--custom {
    width: 33%;
    margin-right: 11px;
}

.product-item__info.product-item__info--custom {
    text-align: left;
    margin: 0;
}

.gs-field--col-left .product-item__info {
    padding: 5px 0;
}

.product-item--custom {
    padding: 15px;
    margin: 0;
}

.gs-field--col-left .product-item--custom {
    border-top: 0;
}

.gs-field--col-left .product-item--custom:first-child {
    border-top: 1px solid #e1e1e1;
}
/* social-media ft subscribe */

.gs-footer__title {
    display: inline-block;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 600;
}

.main-footer .footer-col .gs-footer__title {
    color: #3fb871;
    margin: 24px 0 12px;
}

.footer-col__item li {
    margin: 19px 0;
}

.gs-footer-text {
    color: #b7b7b7;
    font-size: 1.2rem;
}

.footer-contact__description {
    margin: 13px 0 18px;
    line-height: 23px;
}

.footer-col__item i {
    font-size: .7rem;
    margin-right: 3px;
}

.footer-contact__info i {
    font-size: 1.3rem;
    color: #3fb871;
    margin-right: 10px;
}

.footer-shortcuts li {
    margin-right: 20px;
}

.gs-subscribe {
    padding-left: 30px;
}

.gs-subscribe__form {
    display: inline-block;
    float: right;
    width: calc(100% - 240px);
}

.gs-subscribe__form input {
    width: 90%;
    background: #fff;
    height: 40px;
    border: none;
    border-radius: 0;
}

.gs-subscribe__form input {
    width: 90%;
    background: #fff;
    font-size: 1.5rem;
    border: none;
    border-radius: 0;
    padding: 10px;
}

.gs-subscribe__form__btn {
    width: 10%;
    float: right;
    padding: 10px;
    border: none;
    border-radius: 0;
}

.gs-subscribe__form__btn i {
    font-size: 1.9rem;
}

.sub-footer {
    padding: 40px 0 20px;
}

.bottom-footer {
    padding: 27px 0 22px;
}

/* FOOTER */

#gs-footer {
    background: #313131;
    color: #898989;
}

.main-footer {
    border: 2px solid #494949;
    border-left: 0;
    border-right: 0;
    padding: 40px 0;
}

.footer-copyright {
    background: #434343;
    text-align: center;
    color: #b7b7b7;
    font-size: 1.4rem;
    word-spacing: 1px;
    padding: 12px;
}

/* news */

.gs-field__news {
    padding: 17px 0 45px;
}

.news-item__date {
    color: #959595;
    font-style: italic;
    font-size: 1.2rem;
    display: inline-block;
    margin: 25px 0 17px;
}

.news-item__title {
    color: #59b586;
    font-weight: 600;
    font-size: 1.4rem;
}

.news-item__excerpt {
    color: #898989;
    font-size: 1.2rem;
    margin: 10px 0 13px;
    line-height: 21px;
}

.news-item__see-more {
    color: #59b586;
    font-weight: 300;
    font-size: 1.1rem;
    font-style: italic;
}

/*Product*/
.gs-breadcrumb li+li:before {
    color: #898989;
    content: "/\00a0";
}

.gs-breadcrumb a,
.gs-sidebar__list a {
    color: #898989;
    font-size: 1.3rem;
}

.gs-sidebar__list li.active a,
.gs-sidebar__list li:hover a {
    color: #3fb871;
}

.gs-breadcrumb li:last-child a {
    color: #3fb871;
    font-size: 1.3rem;
}

.gs-breadcrumb {
    margin: 17px 0 14px;
}

.gs-sidebar__list a i {
    font-size: .8rem;
    margin-right: 6px;
}

.product-list__paginations {
    float: right;
}
/* Cart */
.gs-cart__options {
    text-align: right;
}

.gs-cart-payment {
    float: right;
    width: 60%;
    text-align: right;
}

.gs-cart-product {
    text-align: center;
}

/* NEWS DETAILS */

.gs-news-comment__avatar {
    display: inline-block;
    width: 13%;
    vertical-align: top;
}

.gs-news-comment__content {
    display: inline-block;
    width: 80%;
    position: relative;
}

.gs-news-comment__form input[type="text"],
.gs-news-comment__form input[type="email"],
.gs-news-comment__form input[type="tel"] {
    display: inline-block;
    width: 30%;
    border: 1px solid #cccccc;
    font-size: 1.1rem;
    font-family: Arial;
    padding: 13px 22px;
    margin-bottom: 20px;
    color: #363533;
}

.gs-news-comment__form textarea {
    width: 100%;
    padding: 13px 22px;
    font-size: 1.1rem;
    font-family: Arial;
    border: 1px solid #cccccc;
    color: #363533;
}

.gs-news-comment__form  input[type="email"] {
    margin: 0 38px;
}

.gs-form__btn {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    background: #3fb871;
    border-radius: 20px;
}

.gs-form__btn--reverse {
    color: #3fb871;
    text-transform: uppercase;
    font-size: 1.4rem;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #3fb871;
}

.gs-register__form .gs-form__btn--reverse,
.gs-register__form .gs-form__btn {
    padding: 1rem 4rem;
    margin-right: 13px;
}

.gs-news-comment__form .gs-form__btn {
    float: right;
    padding: 10px 60px;
    margin: 23px 0;
}

/* .gs-register__form label[for="name"] {
    width: 50%;
} 

.gs-register__form label {
    display: inline-block;
    width: 50%;
    float: left;
    color: #898989;
    font-size: 1.2rem;
    margin: 20px 0;
}

label[for="hasSubscribe"] {
    width: 100%;
}

.gs-register__form input {
    width: 100%;
}

input[type="checkbox"] {
    width: 20px;
}

.gs-register__form input {
    width: 90%;
    font-size: 1.5rem;
    color: #363636;
    padding: 9px;
    margin: 7px 0;
} */

.gs-register__form .form-group {
    width: 50%;
    float: left;
    margin-top: 17px;
}

.gs-register__form label {
    display: block;
    color: #898989;
    font-size: 1.2rem;
}

.gs-register__form input {
    width: 90%;
    font-size: 1.5rem;
    color: #363636;
    padding: 9px;
    margin: 3px 0;
}

.gs-register__form .gs-register__form--hasSubscribe {
    width: 100%;
    margin: 23px 0 58px;
}

.gs-register__form-btns {
    margin: 3rem 0;
}

.gs-register__form--hasSubscribe input[type="checkbox"] {
    width: 20px;
}

.gs-register__form label[for="hasSubscribe"] {
    display: inline-block;
}

/* Base for label styling */
.gs-register__form [type="checkbox"]:not(:checked),
.gs-register__form [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.gs-register__form [type="checkbox"]:not(:checked) + label,
.gs-register__form [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 1.95em;
    cursor: pointer;
}

/* checkbox aspect */
.gs-register__form [type="checkbox"]:not(:checked) + label:before,
.gs-register__form [type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 13px;
    height: 13px;
    border: 1px solid #7d7d7d;
    background: #fff;
    border-radius: 0;
}
/* checked mark aspect */
.gs-register__form [type="checkbox"]:not(:checked) + label:after,
.gs-register__form [type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.4em;
    line-height: 0.8;
    color: #09ad7e;
    transition: all .2s;
    font-family: Helvetica, Arial, sans-serif;
}
/* checked mark aspect changes */
.gs-register__form [type="checkbox"]:not(:checked) + label:after {
opacity: 0;
transform: scale(0);
}
.gs-register__form [type="checkbox"]:checked + label:after {
opacity: 1;
transform: scale(1);
}
/* disabled checkbox */
.gs-register__form [type="checkbox"]:disabled:not(:checked) + label:before,
.gs-register__form [type="checkbox"]:disabled:checked + label:before {
box-shadow: none;
border-color: #bbb;
background-color: #ddd;
}
.gs-register__form [type="checkbox"]:disabled:checked + label:after {
color: #999;
}
.gs-register__form [type="checkbox"]:disabled + label {
color: #aaa;
}

/* MENU */
.gs-navigation {
    background: #3fb871;
}

.gs-navigation ul {
    margin:0;
    padding:0;
}

.gs-navigation ul li {
    display: inline-block;
    position: relative;
    list-style: none;
    z-index: 5;
    padding: 10px 20px;
}

.gs-navigation li:first-child {
    padding-left: 0;
    padding-right: 10px;
}

#gs-navigation__toggle-btn i {
    font-size: 2.0rem;
}

.gs-navigation ul li a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
    color: #fff;
    line-height: 20px;
    letter-spacing: 1px;
}

.gs-navigation ul li .gs-navigation__sub-menu {
    display: inline-block;
    list-style: none;
    background: #3fb871;
    position: absolute;
    left: 0px;
    top: 45px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s ease-out, visibility 0.1s 0.1s linear;
}

.gs-navigation ul li .gs-navigation__sub-menu li {
    margin-top: -15px;
    padding: 10px 20px;
    min-width: 160px;
    -moz-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
    -webkit-transition: opacity 0.1s 0.15s ease-out, margin 0.3s 0.1s ease-out;
    -o-transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
    transition: opacity 0.15s 0.15s ease-out, margin 0.3s 0.1s ease-out;
}

.gs-navigation__menu li a i {
    margin: 0 5px;
}

.gs-navigation ul li:hover .gs-navigation__sub-menu {
    opacity:1;
    visibility:visible;
}
.gs-navigation ul li:hover .gs-navigation__sub-menu li {
    margin-top: 0;
    opacity: 1;
    display: inline-block;
    }

.gs-navigation ul li:hover .gs-navigation__sub-menu li a {
    color: #fff;
    -moz-transition: color 0.1s ease-out;
    -webkit-transition: color 0.1s ease-out;
    -o-transition: color 0.1s ease-out;
    transition: color 0.1s ease-out;
}

.gs-navigation ul li:hover .gs-navigation__sub-menu li a:hover {
    color:#686868;
    -moz-transition:color 0.3s ease-out;
    -webkit-transition:color 0.3s ease-out;
    -o-transition:color 0.3s ease-out;
    transition:color 0.3s ease-out;
}

/* SUB SUB LIST */
.gs-navigation__sub-sub-menu {
    list-style: none;
    margin: 0;
    position: absolute;
    left: 130px;
    top: 0px;
    background: #3fb871;
    min-width: 160px;
    opacity: 0;
    visibility: hidden;
    -moz-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -webkit-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    -o-transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
    transition: opacity 0.2s 0.01s ease-in-out, left 0.2s 0.1s ease-out, visibility 0.1s 0.1s linear;
}

.gs-navigation ul li .gs-navigation__sub-menu li .gs-navigation__sub-sub-menu li{
    border:none;
    clear:both;
    margin:0;
    padding:10px 20px;
    width: 180px;
    opacity:1;
}

.gs-navigation ul li .gs-navigation__sub-menu li:hover .gs-navigation__sub-sub-menu {
    opacity: 1;
    left: 160px;
    visibility: visible;
}

/* END MENU */

.gs-sidebar__list li {
    padding: 9px 0;
    border-bottom: 1px solid #e1e1e1;
}

.gs-sidebar__list {
    display: block;
}

.gs-advertising {
    padding: 33px 0;
}

.gs-sidebar__list.product-colors li {
    width: 45%;
    display: inline-block;
    border-bottom: none;
}

.product-colors img {
    margin-right: 8px;
}

.view-options {
    padding: 13px 0;
}

.view-options__layouts i {
    font-size: 1.8rem;
    margin-left: 9px;
    color: #afafaf;
}

.view-options__layouts a.active i {
    font-size: 1.8rem;
    margin-left: 9px;
    color: #3fb871;
}

.view-options__form label {
    font-size: 1.4rem;
    color: #363636;
}

.view-options__form select {
    padding: 10px;
    font-size: 1.3rem;
    max-width: 120px;
}

.view-options__form label {
    font-size: 1.4rem;
    color: #363636;
    margin: 0 15px 0;
}

.product-list__paginations li {
    padding: 11px 18px;
    background: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 3px;
    cursor: pointer;
    transition: .15s;
}

.product-list__paginations a {
    color: #898989;
    font-size: 1.4rem;
    font-weight: normal;
    transition: .15s;
}

.product-list__paginations li:first-child {
    margin-left: 0;
}

.product-list__paginations li:last-child {
    margin-right: 0;
}

.product-list__paginations li:hover,
.product-list__paginations li.active {
    background: #3fb871;
    border-color: #3fb871;
}

.product-list__paginations li.active a ,
.product-list__paginations li:hover a {
    color: #fff;
}

.product-detail-wrap {
    padding: 40px 0;
}

.product-info {
    padding: 14px;
}

.product-info .product-item__rating li i {
    font-size: 1rem;
}

.product-info .product-item__rating {
    margin: 12px 0;
}

.product-info .product-item__price {
    display: block;
    padding-bottom: 15px;
}

.product-info__description {
    padding: 22px 0;
    color: #7d7d7d;
    font-family: Arial;
    font-size: 1.3rem;
    border: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    margin: 0;
}

.product-info__quantity {
    padding: 24px 0;
    color: #363533;
    font-size: 1.4rem;
    border: 1px solid #e6e6e6;
    border-left: 0;
    border-right: 0;
    display: block;
    border-top: 0;
}

.product-info__quantity label {
    margin-right: 20px;
}

.product-info__quantity-value a {
    color: #363533
}

.product-info__quantity-value input {
    font-size: 1.4rem;
    padding: 10px;
    max-width: 70px;
    text-align: center;
    color: #363533;
    border: 1px solid #ebebeb;
    margin: 0 4px;
}

.product-info__quantity-value {
    display: inline-block;
    width: 50%;
}

.decrease-quantity,
.increase-quantity {
    font-size: 0.7rem;
    padding: 18px 21px 14px;
    text-align: center;
    border: 1px solid #ebebeb;
}

.product-info__btns {
    padding: 20px 0;
}

.product-info__buynow {
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding: 10px 35px;
    background: #3fb871;
    border-radius: 20px;
}

.product-info__btns .product-item__detail {
    border: 1px solid #ebebeb;
    padding: 12px 15px;
    margin: 0 0 0 9px;
}

.product-detail-tab {
    padding: 122px 0;
}

.product-detail-tab .product-detail-tab__nav-link {
    color: #363533;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-family: Arial;
}

.product-detail-nav-item {
    width: 28%;
}


.nav-tabs .nav-item .product-detail-tab__nav-link {
    color: #363533;
    padding: 1.3rem .5rem .5rem;
    text-align: center;
    border-radius: 0;
}

.nav-tabs .nav-item.show .product-detail-tab__nav-link, 
.nav-tabs .product-detail-tab__nav-link.active {
    color: #3fb871;
    border-color: #7d7d7d #dee2e6 #fff;
    border-top: 2px solid #7d7d7d;
} 

.product-detail-tab__content {
    padding: 4.8rem 4.2rem;
    color: #7d7d7d;
    font-size: 1.2rem;
}

.gs-page__title {
    color: #3fb871;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: Arial;
    font-weight: 600;
    margin: 48px 0 30px;
}

.gs-cart-product-wrap {
    margin-top: 7.5rem;
}

.gs-cart-product th {
    background: #3fb871;
    color: #fff;
    text-transform: uppercase;
    font-family: Arial;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 13px;
}

.gs-cart-product tr th:first-child {
    width: 17%;
    border-right: 1px solid #ebebeb;
}

.gs-cart-product td,
.gs-cart-product-payment td {
    vertical-align: baseline;
    border: 1px solid #ebebeb;
}

.gs-cart-product td:first-child {
    padding: 17px;
}

.gs-cart-product td h5 {
    color: #3fb871;
    text-transform: uppercase;
    font-size: 1.8rem;
    font-family: Arial;
    font-weight: 600;
    margin: 48px 0 30px;
}

.gs-cart-product td span {
    color: #898989;
    font-size: 1.8rem;
}

.gs-cart-product__quantity {
    border: 1px solid #ebebeb;
    padding: 12px;
}

.gs-cart-product i {
    color: #898989;
    font-size: 1.6rem;
}

.gs-cart__options {
    margin: 2.8rem 0 6.8rem;
}

.gs-cart__options-btn {
    font-size: 1.3rem;
    text-transform: uppercase;
    padding: 11px 25px;
    border-radius: 25px;
}

.gs-cart__options-btn--cancel {
    color: #3fb871;
    background: #fff;
    border: 1px solid #3fb871;
    margin-right: 18px;
}

.gs-cart-product-payment th {
    color: #3fb871;
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 3.2rem;
    width: 64%;
}

.gs-cart-product-payment td {
    color: #3fb871;
    font-size: 1.3rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    vertical-align: inherit;
}

.gs-cart-product-payment .gs-cart-payment__sum {
    color: #fff;
    background: #3fb871;
    font-size: 1.7rem;
    padding: 2.7rem;
}

.gs-cart-payment__btn {
    background: #3fb871;
    color: #fff;
    font-size: 1.2rem;
    font-family: Arial;
    text-transform: uppercase;
    padding: 11px 31px;
    margin: 25px 0;
    border-radius: 20px;
}

.gs-news-wrap .gs-breadcrumb {
    margin-bottom: 37px;
}

.news-item {
    padding-left: 0;
    border: none;
}

.gs-sidebar__news__title {
    color: #898989;
    font-size: 1.2rem;
    line-height: 18px;
}

.news-item .product-item__info {
    padding: 20px 0;
}

.gs-news {
    padding: 30px 0;
}

.gs-news__title {
    color: #636363;
    font-size: 1.7rem;
}

.gs-news__statistic {
    color: #b7b7b7;
    font-size: 1.2rem;
    font-family: Arial;
    margin: 15px 0;
}

.gs-news__statistic i {
    color: #3fb871;
    margin-right: 10px;
}

.gs-news__statistic span {
    margin-right: 10px;
}

.gs-news__statistic i {
    color: #3fb871;
    margin-right: 10px;
}

.gs-sidebar__blog-tags {
    margin: 22px 0;
}

.gs-sidebar__blog-tag {
    color: #898989;
    font-size: 1.2rem;
    font-weight: normal;
    transition: .15s;
    border: 1px solid #c2c2c2;
    padding: 7px 19px;
    display: inline-block;
    margin: 5px;
}

.gs-news-comment__title {
    color: #636363;
    text-transform: uppercase;
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: Arial;
    word-spacing: 6px;
}

.gs-news-comment__name {
    color: #363533;
    font-size: 1.4rem;
    font-family: Arial;
    font-weight: 400;
}

.gs-news-comment__reply {
    position: absolute;
    top: 0;
    right: 0;
    color: #3a3a3c;
    font-style: italic;
    text-decoration: underline;
    font-size: 1.1rem;
}

.gs-news-comment__content-main {
    color: #898989;
    font-size: 1.2rem;
    margin: 13px 0 11px;
}

.gs-news-comment__content-main {
    color: #898989;
    font-size: 1.2rem;
    margin: 13px 0 11px;
    font-family: Arial;
}

.gs-news-comment__date {
    font-style: italic;
}

.gs-news-comment__content--main {
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 35px;
}

.gs-register__title {
    color: #68ba8f;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-family: Arial;
    font-weight: 600;
    margin-top: 4.2rem;
}